.travelplanner__container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  margin-top: 3rem;

  &-title {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 4rem;
  }

  &-form {
    border: 2px solid #000000;
    border-radius: 20px;
    padding: 4rem 6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &-button {
      margin-top: 1.5rem;
      width: 150px;
      align-self: flex-end;
      background-color: #2522ca;
      color: #fff;
      padding: 12px 0;
      border-radius: 15px;
      font-size: 1.75rem;
      border: none;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }

    &-inputcontrol {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;

      &-icon {
        font-size: 20px;
      }
      &-text {
        align-self: flex-end;
        vertical-align: middle;
        width: 450px;
        padding: 10px;
        border-radius: 10px;
        height: 50px;
        font-size: 1.5rem;
        line-height: 27px;
        color: black;
        font-weight: 100;
        border: 1px solid #cdcdcd;
        &:hover {
          border: 1px solid black;
        }
      }

      &-input {
        align-self: flex-end;
        width: 450px;
        padding: 10px;
        border-radius: 10px;
        height: 50px;
        font-size: 1.25rem;

        &::placeholder {
          color: #aeaeae;
          font-weight: 100;
        }

        border: 1px solid #cdcdcd;

        &:hover {
          border: 1px solid black;
        }

        &:focus-visible {
          outline: none;
          border: 2px solid #1976d2;
        }
      }

      .css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
        border-radius: 10px !important;
        // border: 2px solid black !important;
        font-size: 1.25rem;

        &:hover {
          border: none !important;
        }
      }
    }
  }
}

.travelplanner__experience {
  margin-top: 2rem;
  margin-bottom: 6rem;
  padding-left: 6rem;
  padding-right: 6rem;

  &-title {
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 4rem;
  }

  &-item {
    width: 23%;
    position: relative;
  }

  &-contain {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      object-fit: contain;
      width: 100%;
      border-radius: 10%;
    }

    h1 {
      font-weight: 700;
      font-size: 40px;
      position: absolute;
      bottom: 20px;
      left: 25px;
      color: white;
    }
  }
}
