.budget__edit-container {
  left: 30%;
  transform: translate(-50% -50%);
  position: relative;
  width: 40%;
  height: fit-content;
  top: 30%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .budget__edit-header {
    height: 10%;
    padding: 10px 10px;
    background-color: black;
    color: white;
    text-align: center;
  }

  h1 {
    text-align: center;
  }

  .budget__edit-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    background-color: white;
    padding: 0 2rem 2rem;

    .budget__edit-button {
      background-color: black;
      color: white;
      font-size: 18px;
      padding: 5px 20px;
      text-transform: uppercase;
      font-weight: 550;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }

  .budget__edit-error {
    text-align: center;
    font-size: 18px;
    color: red;
    font-weight: 600;
  }

  .budget__edit-inputcontrol {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;

    &-icon {
      font-size: 20px;
    }

    &-input {
      width: 70%;
      padding: 10px;
      border-radius: 10px;
      height: 50px;
      font-size: 1.25rem;

      &::placeholder {
        color: #aeaeae;
        font-weight: 100;
      }

      border: 1px solid #cdcdcd;

      &:hover {
        border: 1px solid black;
      }

      &:focus-visible {
        outline: none;
        border: 2px solid #1976d2;
      }
    }
  }
}
