.flex {
  display: flex;

  h2 {
    margin-top: 5px;
    margin-left: 0.5rem;
  }
}
.colorInfor-1 {
  background-color: #0088fe;
  width: 30px;
  height: 30px;
  margin-bottom: 1rem;
}

.colorInfor-2 {
  background-color: #00c49f;
  width: 30px;
  height: 30px;
}
